{
    # Global options block
    email hello@repasscloud.com  # Email for Let's Encrypt certificate notifications
    servers {
        max_header_size 16384
    }
}

# Redirect www.reyatra.com to reyatra.com
www.reyatra.com {
    redir https://reyatra.com{uri}
}

reyatra.com {
    # Root directory and PHP FastCGI setup for WordPress
    root * /var/www/html
    php_fastcgi wordpress:9000
    file_server

    # Enable gzip and zstd compression
    encode gzip zstd

    # Logging setup
    log {
        output file /var/log/caddy/prod01_access.log {
            roll_size 20mb
            roll_keep 2
            roll_keep_for 6h
        }
        format json
        level error
    }
}
